*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
}
.find{
background: url(photo/bg-masthead.jpg);
height: 100vh;
background-size: cover;
text-align: center;
padding-top: 300px;
}
.container{
    width: 80%;
    margin: auto;
}


.find h1{
    font-size: 4em;
}
.find p{
 font-style: italic;
 font-size: 1,4em;
 font-weight: bold;
 margin-bottom: 30px;
}
 .mybtn1{
    padding: 20px 40px;
    background: #155d74;
    color: #ffffff;
    border: none;
    display: block;
    width: 200px;
    background: #212529;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: 0.4s;
    margin: 20px auto;


}
.mybtn1:hover{
    background: #043647;

}
.offer.mybtn2{
    background: #232728;
    color: #ffffff;
}

.find a:hover{
background-color: violet;
}
.offer{
    padding: 8em 0;
    text-align: center;
}
.offer.mybtn2{
    background: #000000;
    color: white;
}
.offer.p{
    margin: 15px 0px;
}
.recent-project{
    padding: 5em 0;
}
.recent-project .recent-item{
    width: 50%;
    float: left;
    position: relative;
    
}
.recent-project .recent-item:hover img{
   clip-path: inset(25px);
}

.recent-project .recent-item img{
    width: 100%;
    vertical-align:middle;
    clip-path: inset(-1px);
    transition:clip-path .5s ease-in-out
}
.recent-project .recent-item .recent-text{
    position:absolute;
    left: 30px;
    bottom: 30px;
    padding: 30px;
    color: white;
}
.footer{
    padding: 20px 0;
    text-align: center;
}
.footer i{
    padding: 20px;
    background: blue;
    color: white;
    border-radius: 50%;
    margin: 0 15px;
}








.clear{
    clear: both;
}





